$spacer := 16px ;
$spacers = {
  "0": 0,
  "1": $spacer * .25,
  "2": $spacer * .5,
  "3": $spacer * .75,
  "4": $spacer,
  "5": $spacer * 1.5,
  "6": $spacer * 2
}
$cssclass = {
  "margin": "m",
  "padding": "p"
}

$radius-base = 3px
$shadow-base =  0px 2px 1px -1px rgba(#000, 0.1),
                0px 1px 1px 0px rgba(#000, 0.03),
                0px 1px 2px 0px rgba(#000, 0.05)

$radius-list = {
  'xs': 2px,
  'sm': 3px,
  'md': 4px,
  'lg': 8px,
  'xl': 16px
}
$shadow-list = {
  'light': 0px 3px 10px rgba(#000,.03),
  'xs': 0 1px 2px rgba(#000,0.24),
  'sm': 0 3px 6px rgba(#000,0.23),
  'md': 0 5px 16px rgba(#000,0.1),
  'lg': 0 8px 24px rgba(#000,0.2)
}

$font-sizes = {
  'xs': 12px,
  'sm': 13px,
  'md': 14px,
  'lg': 16px,
  'xl': 18px,
  'xxl': 20px,
  'xxxl': 24px,
}

$line-heights = {
  'xs': 1.2,
  'sm': 1.5,
  'md': 1.8,
  'lg': 2,
  'xl': 2.4
}
