
for $prop, $value in $grey-colors
  .tc-grey-{$prop}
    color: $value !important

for $prop, $value in $grey-colors
  .bg-grey-{$prop}
    background-color:  $value !important

for $prop, $value in $colors
  .tc-{$prop}
    color: $value !important

for $prop, $value in $colors
  .bg-{$prop}
    color: $value !important

for $prop, $value in $lg-colors
  .lg-{$prop}
    background: $value !important

.tc-dark
  color: $grey-dark
.tc-grey
  color: $grey-grey
.tc-light
  color: $grey-light
