.radius
  border-radius: $radius-base
  for $prop, $value in $radius-list
    &-{$prop}
      border-radius: $value !important
.shadow
  box-shadow: $shadow-base
  for $prop, $value in $shadow-list
    &-{$prop}
      box-shadow: $value !important 

.line
	&-bottom
		border-bottom:1px solid $border-color
		
.media
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover