html,body
  font-size: 14px
  min-height: 100vh
#app
  color: $grey-dark
  font-family: $font-family
  min-height: 100vh
.page
  min-height: 100vh
  background-color: $bg-color
  font-size: 1rem
div
  box-sizing: border-box;

.container
  padding: $spacer
  margin-left: auto;
  margin-right: auto;
