html,body
  font-size: 14px
  min-height: 100vh
  color: $text-dark
  font-family: $ff
#app
  min-height: 100vh
.page
  min-height: 100vh
  background-color: $bg-color
  font-size: 14px
div
  box-sizing: border-box;

.container
  padding: $spacer
  margin-left: auto;
  margin-right: auto;
